// components //
.heading-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.big-txt {
  font-size: 60px;
  text-transform: uppercase;
  color: $color-dark-gray;
  font-weight: 900;
}

.bordered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;

  max-width: 300px;
  width: 100%;
  min-height: 100px;

  text-align: center;
  border: 1px solid $color-default;

  .bordered-box__title {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
  }
}

.carousel {
  .carousel-control-wrapper {
    padding: 0 25px;
  }

  .carousel-control-prev, .carousel-control-next, .carousel-indicators {
    position: unset;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 9px;
    height: 18px;
  }

  .carousel-control-prev-icon {
    background-image: url("../../icons/arrow-left.svg");
  }

  .carousel-control-next-icon {
    background-image: url("../../icons/arrow-right.svg");
  }

  .carousel-indicator-title {
    margin: 25px 0 20px 0;
    font-weight: 900;
    font-size: 14px;
  }

  .carousel-indicator-desk {
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
  }

  .carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 0;

    [data-bs-target]{
      height: 34px;
    }

    .carousel-control-indicator-icon {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    .indicator-1 {
      .carousel-control-indicator-icon {
        background-image: url("../../images/slider-nav-1.jpg");
      }
    }

    .indicator-2 {
      .carousel-control-indicator-icon {
        background-image: url("../../images/slider-nav-2.jpg");
      }
    }

    .indicator-3 {
      .carousel-control-indicator-icon {
        background-image: url("../../images/slider-nav-3.jpg");
      }
    }

    .indicator-4 {
      .carousel-control-indicator-icon {
        background-image: url("../../images/slider-nav-4.jpg");
      }
    }

    .indicator-5 {
      .carousel-control-indicator-icon {
        background-image: url("../../images/slider-nav-5.jpg");
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.scroll-top-btn {
  position: fixed;
  bottom: 35px;
  right: 15px;
  transform: scale(0);
  border-radius: 50%;

  width: 40px;
  height: 40px;

  background-image: url(../../icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center center;
  background-color: #ffdd7c;

  transition: $transition;
}
// end components //

// sections //
section {
  padding: 60px 0;
}

.productive {
  padding: 90px 30px 0 30px;
  background-color: $color-gray-bg;

  img {
    margin-bottom: 70px;
  }

  .productive__arrow-down {
    margin-top: 80px;
    margin-bottom: 20px;
    animation: bounce 2s infinite ease-in;
  }
}

.bluetooth {
  background-color: #EDEDED;

  .bluetooth__head {
    margin-bottom: 30px;
  }

  .bluetooth__image {
    margin-bottom: 27px;
  }

  .bluetooth__title {
    margin-bottom: 20px;
  }

  .bluetooth__text-desc {
    padding: 0 10px;
  }
}

.landscape {
  .landscape__title {
    margin-bottom: 20px;
  }

  .landscape__desc {
    margin-bottom: 30px;
    padding: 0 10px;
    text-align: center;
  }

  .landscape__box-wrapper {
    margin-bottom: 50px;
    padding: 0 10px;
    column-gap: 20px;

    @media(max-width: 510px) {
      flex-direction: column;

      .bordered-box {
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.multi {
  padding: 60px 0;
  background-color: $color-gray-2-bg;

  .multi__title, .multi__desc-text, .multi__list  {
    padding: 0 20px;
  }

  .multi__title {
    margin-bottom: 20px;
  }

  .multi__desk-wrapper {
    text-align: center;

    p,li {
      font-size: 14px;
    }

    .multi__list {
      margin: 20px 0;
      padding-left: 40px;
      text-align: left;
    }
  }
}
// end sections //
