.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.ta-c {
  text-align: center;
}

.m-centered {
  margin-right: auto;
  margin-left: auto;
}

.flex-column {
  flex-direction: column;
}

// keyframes //
@keyframes bounce {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(+4px);
  }

  100% {
    transform: translateY(-4px);
  }
}
// end keyframes //
